/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/****************************** UNIVERSALS ******************************/

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  padding: 5px 20px 20px;
}

header {
  width: 100%;
  margin-bottom: 10px;
  border-bottom: 1px dotted #ccc;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.wrapper {
  width: 980px;
  margin: 0 auto;
}

h1 {
  font-family: 'Merriweather', Georgia, serif;
  margin: 0 0 10px;
  text-align: right;
  color: #999;
  padding-top: 49px;
}

h2 {
  font-family: 'Merriweather', Georgia, serif;
  margin: 25px 0 10px;
  color: #4c4c4c;
  clear: both;
}

h3 {
  font-family: 'Merriweather', Georgia, serif;
  margin: 20px 0 10px;
  color: #4c4c4c;
}

pre {
  font-family: Arial, Verdana, sans-serif;
  display: inline;
  padding: 0;
  word-wrap: break-word;
  text-wrap: normal;
  /*white-space: normal;*/
}

table {
  padding: 0;
  margin: 0;
  width: 100%;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 0;
}

tr:nth-child(odd) {
  background: #efefef;
}

tr:nth-child(even) {
  background: #fff;
}

th {
  font-family: Georgia, serif;
  background: #ccc;
  color: #4c4c4c;
  font-size: 1em;
}

th, td {
  vertical-align: top;
  border-top: 0;
  border-left: 0;
  padding: 10px;
  border-right: 1px dotted #ccc;
  border-bottom: 2px solid #ccc;
}

td {
  font-size: 1.1em;
}

p {
  margin: 10px 0 20px;
}

#day_info {
  width: 40%;
  float: right;
  padding-top: 25px;
}

#speaker_input {
  width: 60%;
  float: left;
}

/****************************** FORMS ******************************/

input, textarea {
  padding: 3px;
  border: 1px solid #ccc;
  color: #000;
  margin: 5px 0 5px;
  font-size: 18px;
}

textarea {
  height: 300px;
}

input[type="submit"] {
  padding: 5px;
  background: #ccc;
  color: #000;
}

input[type="submit"]:hover {
  background: #333;
  color: white;
}

/****************************** TD CLASS ******************************/

.logo {
  float: left;
}

.day {
  width: 5%;
}

.topics {
  width: 50%;
}

.speakers {
  width: 30%;
}

.date {
  width: 15%;
}

.date_txt {
  font-size: 0.85em;
}

/****************************** LINKS ******************************/

a:link, a:visited {
  color: rgb(38, 196, 255);
  text-decoration: none;
}

a:hover, a:active {
  color: #aaa;
  text-decoration: none;
}

.destroy a:link, .destroy a:visited {
  color: red;
  text-decoration: none;
}

.destroy a:hover, .destroy a:active {
  color: #000;
  text-decoration: none;
}

.speaker_name a:link, .speaker_name a:visited {
  color: #333;
  text-decoration: none;
}

.speaker_name a:hover, .speaker_name a:active {
  color: #000;
  text-decoration: none;
}

/****************************** MEDIA ******************************/

@media screen and (max-width: 1010px) {
  .logo {
    float: none;
  }
  
  header {
    height: auto;
  }

  h1 {
    padding-top: 0;
  }
  .wrapper {
    width: 90%;
  }

  .day, .topics, .speakers, .date {
    width: auto;
  }
}

/****************************** ERRORS ******************************/

#error_explanation {
  margin: 0 0 20px;
}

#error_explanation h2 {
  color: red;
}

#error_explanation  ul {
  padding: 10px;
  background: rgba(255,0,0,.25);
  border: 1px solid red;
  list-style: none;
}

#error_explanation  li {
  color: #000;
}
