<h2>Editing speaker</h2>

<%= render 'form' %>

<%= link_to 'Show', @speaker %> |
<%= link_to 'Destroy', @speaker, method: :delete, data: { confirm: 'Are you sure?' } %> | 
<%= link_to 'Back', speakers_path %>
