<h2>Editing speaker</h2>

<%= render 'form' %>

<%= link_to 'Back', calendar_path %> | 
<span class="destroy"><%= link_to 'Destroy', @speaker, method: :delete, data: { confirm: 'Are you sure?' } %></span>